html,
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #e5e5e5;
}

header {
  position: absolute;
  height: 718px;
  left: 0;
  top: 0;
  right: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  background: #fff;
}

.wrapper {
  padding-top: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headerTop h1 {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 0%;
  z-index: 100;
}

.headerTop p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: #344563;
}

/* Shapes  */
.headerTop h1::after {
  content: url("images/Ellipse\ 3.png");
  position: absolute;
  width: 105px;
  height: 105px;
  left: 375px;
  top: 152.24px;
}

.headerTop h1::before {
  content: url("images/Ellipse\ 11.png");
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: -30px;
  top: 161.47px;
  transform: rotate(-15.88deg);
  background: #6070ff;
}

.nav-bar::after {
  content: url("images/Rectangle\ 4.png");
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 200.18px;
  top: 130.59px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

/* link buttons */
.link-btn::after {
  content: url("images/Ellipse\ 12.png");
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 546.69px;
  background: #6070ff;
  transform: rotate(-176.08deg);
}

.link-btn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.headerBottom a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

/* Responsive media */
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  body {
    font-size: 12px;
  }
}
